@media (max-width: 767.98px){
   .my-container{
      padding-left: 0;
      overflow-x: hidden;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "form-col"
      ;
   }
   .form-col{
      display: block;
      /* animation */
      animation-name:img_load;
      animation-duration: 1.2s;
      animation-timing-function:  ease-in-out;
      animation-delay: .3s;
      animation-fill-mode: forwards;
      opacity: 0;
   }
   .img-col{
      display: none;
   }
   #range{
      width: 100%;
   }

}