@media (max-width: 767.98px){
   .my-container{
      padding-left: 0;
      overflow-x: hidden;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "form-col"
      ;
   }

   .form-col{
      display: block;
      background-color: var(--background)!important;
      /* animation */
      animation-name:img_load;
      animation-duration: 1.2s;
      animation-timing-function:  ease-in-out;
      animation-delay: .3s;
      animation-fill-mode: forwards;
      opacity: 0;
   }
   .img-col{
      display: none;
   }
   #range{
      width: 100%;
   }


   .form-col{
    grid-area: form-col;
    background-color: var(--background)!important;
    
    /* animation */
    animation-name: img_load;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-delay: .6s;
    animation-fill-mode: forwards;
    opacity: 0;
 
 }
 
 form input{
    background-color: var(--background)!important;
    box-shadow: none!important;
 }
 form label{
    font-family: "Roboto"!important;
    font-size: 14px!important;
 }
 form input:not(.form-chekbox , .btn-result,.range),form select{
    background: rgba(255, 255, 255, 0.2)!important;
    border: none!important;
    color: #fff!important;
 }
 .form-select{
    background: url(/static/images/Vector.svg) no-repeat right rgba(255, 255, 255, 0.2)!important;
    background-position : 96% 50%!important;
 
 }
 
 .form-control:focus,.form-select:focus{
    box-shadow: none!important;
    background-color: rgba(255, 255, 255, 0.27)!important;
 }
 .form-col form{
    padding: 3vh 6vw;
    height: 81%;
 }
 
 .range-wrap {
    position: relative;
  }
  .range{
    width: 100%;
    background-color: red;
  }
 
   /* INPUT RANGE */
 input[type='range'] {
   -webkit-appearance: none;
   background-color: var(--dark-red);
   height: 12px;
   overflow: hidden;
   width: 400px;
   border-radius: 12px;
 }
 
 input[type='range']::-webkit-slider-runnable-track {
   -webkit-appearance: none;
   height: 12px;
 }
 
 input[type='range']::-webkit-slider-thumb {
   -webkit-appearance: none;
   background: #fc2626;
   border-radius: 50%;
   box-shadow: -210px 0 0 200px var(--dark-red);
   cursor: pointer;
   height: 12px;
   width: 12px;
   border: 0;
 }
 
 input[type='range']::-moz-range-thumb {
   background: #fc2626;
   border-radius: 50%;
   box-shadow: -1010px 0 0 1000px #666;
   cursor: pointer;
   height: 12px;
   width: 12px;
   border: 0;
 }
 
 input[type="range"]::-moz-range-track {
   background-color: var(--dark-red);
 }
 input[type="range"]::-moz-range-progress {
   background-color: var(--dark-red);
   height: 12px
 }
 input[type="range"]::-ms-fill-upper {
   background-color: var(--dark-red);
 }
 input[type="range"]::-ms-fill-lower {
   background-color: var(--dark-red);
 }



}