<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
   <link rel="shortcut icon" href="/static/images/favicon.ico">
   <link rel="stylesheet" href="/static/css/form.css">
   <link rel="stylesheet" href="/static/css/formMobileCopy.css">
   <title>A ride for a lifetime</title>
</head>
<body>
   <div class="my-container">
      <div class="img-col">
         <img src="/static/images/titanic-captain.jpg" alt="">
         <div class="paragraph">
            <p>Captain Edward J. Smith (right) and Purser Hugh Walter McElroy stand aboard the Titanic as it travels between Southampton, England and Queenstown, Ireland, just one day into its voyage — and three days before it would sink. Circa April 10-11, 1912.</p>

            <p>
               The man who took this photograph, Rev. F.M. Browne, got off at Queenstown. Both Smith and McElroy died in the Titanic sinking.
            </p>
         </div>
      </div>
      <div class="form-col">
         <h3 class="form-heading">Book tickets !!!</h3>
         <form action="" method="POST" class="row g-3" novalidate>
            {{ form.hidden_tag() }}
              <div class="col-sm-4">
                <label class="form-label" for="name_prefix">Name Prefix</label>
                <select class="form-select" id="name_prefix" name = 'Name_prefix'>
                  <option value="Master">Master</option>
                  <option value="Mr">Mr</option>
                  <option value="Miss">Miss</option>
                  <option value="Mrs">Mrs</option>
                  <option value="Rare">Other</option>                
                </select>
              </div>
              <div class="col-sm-8">
                {{ form.name.label(class = 'form-label') }}
                {% if form.name.errors %}
                   {{ form.name(class = 'form-control is-invalid error-outline') }}
                      <div class="invalid-feedback">
                         {% for error in form.name.errors %}
                            <span class="error">{{ error }}</span>
                         {% endfor %}
                      </div>
    
                {% else %}  
                   {{ form.name(class = 'form-control') }}      
                {% endif %}
    
             </div>
  
              <div class="col-sm-6">
                {{ form.age.label(class = 'form-label') }}
                {% if form.age.errors %}
                   {{ form.age(class = 'form-control is-invalid error-outline') }}
                      <div class="invalid-feedback">
                         {% for error in form.age.errors %}
                            <span class="error">{{ error }}</span>
                         {% endfor %}
                      </div>
    
                {% else %}  
                   {{ form.age(class = 'form-control') }}      
                {% endif %}
               </div>
               <div class="col-sm-6">
                 <label class="form-label" for="sex">Sex</label>
                 <select class="form-select" id="sex" name = 'Sex'>
                   <option value="male">Male</option>
                   <option value="female">Female</option>
                 </select>
               </div>
               <div class="col-md-6">
                 <label for="SibSp" class="form-label">No. of siblings / spouses travelling with you</label>
                 <select class="form-select" id="SibSp" name = 'SibSp'>
                  <option value="0">None</option>                 
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="10">More</option>                        
                </select>               
               </div>
  
               <div class="col-md-6">
                 <label for="Parch" class="form-label">No. of parents / children travelling with you
                 </label>
                 <select class="form-select" id="Parch" name = 'Parch'>
                  <option value="0">None</option>                 
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="10">More</option>                        
                </select>  
               </div>
               <div class="col-md-12">
                {{ form.fare.label(class = 'form-label') }}
                {% if form.fare.errors %}
                   {{ form.fare(class = 'form-control is-invalid error-outline') }}
                      <div class="invalid-feedback">
                         {% for error in form.fare.errors %}
                            <span class="error">{{ error }}</span>
                         {% endfor %}
                      </div>
    
                {% else %}  
                   {{ form.fare(class = 'form-control') }}      
                {% endif %}
               </div>
               <div class="col-sm-6">
                 <label class="form-label" for="tclass">Class</label>
                 <select class="form-select" id="tclass" name= 'Pclass'>
                   <option value="1">1st</option>
                   <option value="2">2nd</option>
                   <option value="2">3rd</option>                 
                 </select>
               </div>
               <div class="col-sm-6">
                 <label class="form-label" for="port">Port of Embarkation</label>
                 <select class="form-select" id="port" name = 'Embarked'>
                   <option value="S">S</option>
                   <option value="C">C</option>
                   <option value="Q">Q</option>                 
                 </select>
               </div>
               <div class="form-check col-md-12 ms-2">
                  <input class="form-check-input form-chekbox" type="checkbox" value="1" name="concent" id="flexCheckChecked" checked>
                  <label class="form-check-label" for="flexCheckChecked">
                     I want to make my name and score public.
                  </label>
               </div>
               <div class="col-md-12 text-center">
                 {{ form.submit(class="btn-result") }}
               </div>
   
  
           </form>
         
      </div>
   </div>

   <!-- Bootstrap -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>