<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/static/css/index.css">
   <title>Document</title>
</head>
<body>
   <div class="container">
      <div class="contact-info">
         <li><a href="">Facebook</a></li>
         <li><a href="">Instagram</a></li>
         <li><a href="">Github</a></li>
      </div>
      <div class="text-col">
         <h1 class="heading">Survive<br>The Iceberg Crash</h1>
         <div class="paragraph">
            <p>Posuere aliquet in non dolor morbi aliquet. Id ligula fermentum nulla mauris id. Neque fermentum augue mollis metus tincidunt ante amet. Ornare varius fermentum quam ultricies quam ornare nunc, commodo mus. Sed dolor in justo sit velit proin. Vitae sociis massa eget nibh feugiat vitae at. </p>
            <p>Erat amet vulputate nec, libero. Lectus volutpat, sit cras id pulvinar proin consectetur justo. Aenean ullamcorper semper convallis condimentum nulla. Sit id suspendisse id tempor, enim. Amet vel mus sapien, molestie dui sed scelerisque dignissim. Quam facilisi enim turpis elementum arcu, nulla fermentum.</p>
         </div>
         <div class="get-started"><a href="#" class="get-started-link">Get Started</a></div>
      </div>
      <div class="img-col"></div>
      <div class="disclaimer">* Real photo of </div>
   </div>

   
</body>
</html>