<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/static/css/result.css">
   <title>Your Result</title>
</head>
<body>
   <div class="container">
      <h1 class="heading heading-fail">
         ALAS !!!
      </h1>
      <h2 class="sub-heading">You Couldn’t Survive the ICEBERG crash</h2>
      <h3 class="heading-quote">May your soul rest in peace :)</h3>
      <div class="img-section">
         <img src="/static/images/iceberg-that-sunk-titanic.jpg" alt="" class="image">
         <p class="image-text">The iceberg suspected of having sunk the Titanic, as photographed by the steward of a passing ship the morning after the Titanic sinking. </p>
      </div>
      <a href="#" class="play_buttton button_fail">Play Again</a>
      <a href="" class="stats_link">Click here to see some statistics of passengers</a>
   
   </div>
   
</body>
</html>