<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="/static/css/result.css">
   <title>Your Result</title>
</head>
<body>
   <div class="container">
      <h1 class="heading heading-fail">
         ALAS !!!
      </h1>
      <h3 class="heading-quote">You couldn't survive the ICEBERG crash
         <span class="heading-fail heading-quote">{{ name }}</span>
      </h3>
      <h2 class="sub-heading">Probability of your surviving is 
         <span class="heading-fail">{{ prob }} %</span></h2>
      <div class="img-section">
         <img src="/static/images/iceberg-that-sunk-titanic.jpg" alt="" class="image">
         <p class="image-text">The iceberg suspected of having sunk the Titanic, as photographed by the steward of a passing ship the morning after the Titanic sinking. </p>
      </div>
      <div class="btn_group">
         <a href="{{url_for('leaderboard')}}" class="score_buttton_survive_not">SCOREBOARD</a>
         <a href="{{url_for('form')}}" class="play_buttton button_fail">Play Again</a>
      </div> 
      <a href="{{url_for('statisics')}}" class="stats_link">Click here to see some statistics of passengers</a>
   
   </div>
   
</body>
</html>