<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/static/css/statistics.css">
   <title>Statistics</title>
</head>
<body>
   <div class="container">
      <h1 class="heading">Passenger Statistics</h1>
      <ul class="stats">
         <li class="stats_points">Only about 38.38 % (342) of the total passengers (891) survived.</li>
         <li class="stats_points">Only 18.89 % (109) of the total Male passengers (577) survived.</li>
         <li class="stats_points">About 74.2 % (233) of the total Female passengers (314) survived.</li>
         <li class="stats_points">About 62.96 % (136) of the 1st classs passengers (216) survived.</li>
         <li class="stats_points">Only 24.23% (119) of the total 3rd classs passengers (491) survived.</li>
         <li class="stats_points">About 50.35% (70) of the minor passengers (139) survived. </li>
         <li class="stats_points">About 46.64% (132) of the total passengers (283) survived who travelled with one or more siblings / spouce.</li>
         <li class="stats_points">About 51.17% (109) of the total passengers (213) survived who travelled with one or more parents / children.</li>
         <li class="stats_points">About 73.58% (39) of the passengers (53) survived whose fare was more than £ 100.</li>
         <div class="disclamair">
            The statistics mentioned above are 100% accurate. The analysis was done only on 891 passengers. present on the dataset. However there were actuallly about 2200 passengers on the ship.
         </div>
      </ul>
      <div class="footer">
         <div class="link_div">
            <a href="https://www.kaggle.com/dibkb9/titanic-disaster" class="more_stats_link">To see more in-depth analysis and visualizations visit here</a>
         </div>
         <div class="btn_"div>
            <a href="#" class="back_button">Go Back</a>
         </div>
      </div>
   </div>
   
</body>
</html>